<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Diplom_arendacar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Diplom_arendacar.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Diplom_arendacar;Data Source=DESKTOP-844N0DK\SQLEXPRESS
</value>
            </setting>
            <setting name="user_id" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="role_id" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="car_id" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="car_cost" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="care_foto" serializeAs="String">
                <value />
            </setting>
            <setting name="VIN" serializeAs="String">
                <value />
            </setting>
            <setting name="user_number" serializeAs="String">
                <value />
            </setting>
            <setting name="order_number" serializeAs="String">
                <value />
            </setting>
            <setting name="Greeting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Save_number" serializeAs="String">
                <value />
            </setting>
            <setting name="Save_password" serializeAs="String">
                <value />
            </setting>
            <setting name="servise_cost" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CodeService" serializeAs="String">
                <value />
            </setting>
            <setting name="VIN2" serializeAs="String">
                <value />
            </setting>
        </Diplom_arendacar.Properties.Settings>
    </userSettings>
</configuration>